<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COP4939-Project Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>COP4939-Project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DEC849B2B1592DB006746F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEC84AB2B1592DC006746F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEC84B52B1592DC006746F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEC84C12B1592DC006746F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEC84D32B1592DD006746F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEC84DD2B1592DD006746F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
